  <% hook :dropdown_variants_by_option_cart_product do %>
    <% if product_price(@product) %>
      <% hook :product_price do %>
        <p class="prices">
          <%= t("price") %>
          <br />
          <span class="price selling"><%= product_price(@product) %></span>
        </p>
      <% end %>
    <% end %>
  <% end %>

  <% if @product.has_variants? %>
    <div id="product-variant-option-values">
      <% hook :dropdown_variants_by_option_cart_variants do %>
        <h2><%= t('variants') %></h2>
        <ul>
          <% @product.option_types.each do |option_type| %>
            <li>
              <%= option_type.presentation %><br/>
              <% option_values = instock_option_values(@product, option_type) 
                onchange = remote_function(
                        :with => 'Form.serialize(this.form)',
                        :url => { :action => 'option_value_changed', :id => @product})
              %>
              <% if option_values.empty? %>
                <%= t('out_of_stock') %>
              <% else %>
                <% if option_type.display_as_dropdown %>
                  <%= select_tag "option_values[#{option_type.id}]",
                    options_from_collection_for_select(option_values, :id, :presentation, 
                    @selected_variant ? @selected_variant.option_values.find_by_option_type_id(option_type.id).try(:id) : option_values.first.id),
                    { :onchange => onchange } %>
                <% else %>
                  <% option_values.each_with_index do |option_value, index| %>
                    <li>
                      <%= radio_button_tag "option_values[#{option_type.id}]", 
                        option_value.id, 
                        @selected_variant ? option_value.id == @selected_variant.option_values.find_by_option_type_id(option_type.id).try(:id) : option_value.id == option_values.first.id,
                        { :onchange => onchange } %>
                      <span class="variant-description">
                        <%= option_value.presentation %>
                      </span>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end%>


  <% hook :dropdown_variants_by_option_cart_add_to_cart do %>
    <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
      <%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
        1, :class => "title", :size => 3 %>
      &nbsp;
      <button type='submit' class='large primary'>
        <%= image_tag('/images/add-to-cart.png') + t('add_to_cart') %>
      </button>
    <% else %>
      <%= content_tag('strong', t('out_of_stock')) %>
    <% end %>
  <% end %>
